.accordion-section {
  padding: 40px 0px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: "Apuliablue font readability";

  .section-title {
    margin-top: 1.5rem;
    font-weight: bold;
    color: var(--text-color-menu);
    margin-bottom: 0.5rem;
    letter-spacing: 0.02em;
  }

  .accordion-boxes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    margin-top: 60px;

    .accordion-box {
      width: 200px;
      height: 200px;
      border: 3px solid #333;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: #fff;
      transition: background-color 0.3s ease, border-color 0.3s ease,
        transform 0.2s ease;
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
      border-radius: 1rem;

      &:hover {
        background-color: #f0f0f0;
        border-color: #007bff;
        transform: translateY(-5px);
      }

      &.active {
        background-color: #e0f2f7;
        border-color: #007bff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }

      .accordion-box-text {
        font-size: 1.2em;
        color: #555;
        text-align: center;
        line-height: 2;
        font-weight: bold;
        padding: 10px;
        letter-spacing: -1px;
        word-spacing: -5px;
        margin-bottom: 0;
      }
    }
  }

  .accordion-details-container {
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding-top: 30px;

    .accordion-detail-content {
      display: none;
      padding: 30px 10px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      margin-bottom: 20px;
      text-align: justify;

      ul {
        text-align: left;
        padding-left: 10px;
      }

      h3 {
        font-size: 1.8em;
        color: #007bff;
        margin-bottom: 15px;
        text-align: center;
      }

      h4 {
        color: #007bff;
        text-align: left;
      }

      p {
        font-size: 1em;
        line-height: 1.6;
        color: #666;
        margin-bottom: 10px;
      }

      ul {
        list-style: disc inside;
        color: #666;
        margin-left: 20px;
        margin-top: 15px;
      }

      ul li {
        margin-bottom: 8px;
      }
    }

    .accordion-up-back {
      text-align: right;
      margin-right: 20px;
      font-size: 0.8rem;
    }
  }
}

.iframe-container {
  position: relative;
  .google-interactive-map {
    width: 100%;
    height: 500px;
    border: none;
    z-index: 1;
  }

  .iframe-overlay {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 60px;
    right: 70px;
    width: auto;
    height: 67px;
    background-color: #2e312f;
    z-index: 2;

    .iframe-title {
      margin: 0;
    }
  }
}

@media (min-width: 576px) {
  .accordion-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: "Apuliablue font readability";

    .section-title {
      margin-top: 1.5rem;
      font-weight: bold;
      color: var(--text-color-menu);
      margin-bottom: 0.5rem;
      letter-spacing: 0.02em;
    }

    .accordion-boxes-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      margin-bottom: 50px;
      margin-top: 60px;

      .accordion-box {
        width: 200px;
        height: 200px;
        border: 3px solid #333;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #fff;
        transition: background-color 0.3s ease, border-color 0.3s ease,
          transform 0.2s ease;
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
        border-radius: 1rem;

        &:hover {
          background-color: #f0f0f0;
          border-color: #007bff;
          transform: translateY(-5px);
        }

        &.active {
          background-color: #e0f2f7;
          border-color: #007bff;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        .accordion-box-text {
          font-size: 1.2em;
          color: #555;
          text-align: center;
          line-height: 2;
          font-weight: bold;
          padding: 10px;
          letter-spacing: -1px;
          word-spacing: -5px;
          margin-bottom: 0;
        }
      }
    }

    .accordion-details-container {
      margin-top: 30px;
      border-top: 1px solid #eee;
      padding-top: 30px;

      .accordion-detail-content {
        display: none;
        padding: 30px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
        text-align: left;

        h3 {
          font-size: 1.8em;
          color: #007bff;
          margin-bottom: 15px;
          text-align: center;
        }

        h4 {
          color: #007bff;
        }

        p {
          font-size: 1em;
          line-height: 1.6;
          color: #666;
          margin-bottom: 10px;
        }

        ul {
          list-style: disc inside;
          color: #666;
          margin-left: 20px;
          margin-top: 15px;
        }

        ul li {
          margin-bottom: 8px;
        }
      }

      .accordion-up-back {
        text-align: right;
        margin-right: 20px;
        font-size: 0.8rem;
      }
    }
  }

  .iframe-container {
    position: relative;
    .google-interactive-map {
      width: 100%;
      height: 500px;
      border: none;
      z-index: 1;
    }

    .iframe-overlay {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 0;
      left: 60px;
      right: 70px;
      width: auto;
      height: 67px;
      background-color: #2e312f;
      z-index: 2;

      .iframe-title {
        margin: 0;
      }
    }
  }
}
@media (min-width: 768px) {
  .accordion-section {
    .accordion-boxes-container {
      justify-content: space-around;
      .accordion-box {
        width: 210px;
      }
    }
  }
}

@media (min-width: 992px) {
  .accordion-section {
    .accordion-boxes-container {
      justify-content: space-around;
      .accordion-box {
        width: 280px;
      }
    }
  }
}
