.bleisure-section {
  background-color: var(--color-bleisure-background);
  color: var(--color-bleisure-text);
  padding: 60px 0;
  position: relative;
  z-index: 1;
}

.benefits-section {
  color: #333;

  .benefits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .benefit-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .card-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
  }

  .benefit-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.bleisure-mood {
  &.bleisure-mood-fullwidth {
    width: 100%;
    background-color: var(--color-bleisure-background);
    color: var(--color-bleisure-text);
    padding: 60px 0;
    text-align: center;
  }

  .mood-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .mood-intro {
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 1.15em;
    line-height: 1.6;
    text-align: justify;
  }

  .mood-features {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
  }

  .feature-item {
    flex-basis: 30%;
    max-width: 350px;
  }

  .feature-item i {
    font-size: 2.5em;
    color: #adb5bd;
    display: block;
    margin-bottom: 10px;
    font-style: normal;
  }

  @media (max-width: 768px) {
    .mood-features {
      flex-direction: column;
      align-items: center;
    }
    .feature-item {
      margin-bottom: 30px;
    }
  }
}
