.expandable-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.expandable-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.expandable-header {
  width: 100%;
  background-color: #f8f8f8;
  color: #333;
  padding: 18px 20px;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.expandable-header:hover,
.expandable-header.active {
  background-color: #e8e8e8;
}

.expandable-icon {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.expandable-header.active .expandable-icon {
  transform: rotate(45deg);
}

.expandable-content {
  background-color: #fff;
  color: var(--text-color-label);
  overflow: hidden;
  max-height: 0;
  padding: 0 20px;
  transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
}

.expandable-content.active {
  max-height: 700px;
  padding: 20px;
  scroll-behavior: smooth;
  overflow: auto;
}

.expandable-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  filter: drop-shadow(2px 4px 6px black);
}
