.rooms-title {
  text-align: center;
}

.rooms {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;

  .rooms-btn-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    .room-btn {
      position: relative;
      display: inline-block;
      border: none;
      overflow: hidden;
      background-color: transparent;
      cursor: pointer;
      border: none;
      opacity: 0.7;

      span.room-name {
        display: inline-block;
        color: var(--text-color-rooms);
        font-style: italic;
        font-variant: all-petite-caps;
        font-size: 1.17rem;
      }

      span.room-name:hover {
        text-decoration: underline;
        text-decoration-skip: trailing-spaces;
      }

      .person-icon {
        color: var(--text-color-rooms);
      }

      .room-price {
        color: var(--text-color-rooms);
        font-style: italic;
        font-size: 1.17rem;
      }
    }

    .room-btn.active {
      opacity: 1;
      span.room-name {
        color: var(--text-color-rooms);
        font-weight: 800;
      }

      span.room-name:hover {
        text-decoration: unset;
      }

      .room-price {
        font-weight: 800;
      }
    }
  }
}

@media (min-width: 576px) {
  .rooms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px 0 20px;
    margin-top: 40px;
    margin-bottom: 40px;

    .rooms-btn-list {
      .room-btn {
      }
      .room-btn.active {
      }
    }

    .room-slides {
      overflow: hidden;
      border-radius: 1rem;

      img {
        max-height: 50vh;
      }
    }
  }
}

@media (min-width: 768px) {
  .rooms {
    .rooms-btn-list {
      .room-btn {
      }
      .room-btn.active {
      }
    }

    .room-slides {
      img {
        max-height: 80vh;
      }
    }
  }
}

@media (min-width: 992px) {
  .rooms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px 0 0;

    .rooms-btn-list {
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      margin-bottom: 3rem;
      margin-top: 3rem;
      flex-wrap: wrap;
      width: 20%;
      align-items: end;

      .room-btn {
        position: relative;
        display: inline-block;
        overflow: hidden;
        background-color: transparent;
        cursor: pointer;
        border: none;
        opacity: 0.5;
        text-align: right;
        width: fit-content;

        img {
          display: block;
          width: 130px;
          height: 130px;
          border-radius: 100%;
          opacity: 0.8;
        }

        .person-icon {
        }
      }
      .room-btn.active {
        opacity: 1;
        img {
          opacity: 1;
        }

        span.room-name {
          color: var(--text-color-rooms);
          font-weight: 800;
        }

        span.room-name:hover {
          text-decoration: unset;
        }
      }
    }

    .room-slides {
      overflow: hidden;
      width: 80%;
      border-radius: 1rem;
    }
  }
}

@media (min-width: 1200px) {
  .rooms {
    .rooms-btn-list {
      width: 40%;
      .room-btn {
        margin-right: 10rem;
      }
    }

    .room-slides {
      width: 60%;
    }
  }
}
